<div id="left-navs">
	{% assign navurl = page.url | remove: 'index.html' | parent = '' %}
	<ul class="sub-nav">
	{% for item in include.nav %}
		{% if item.weight == 1 %} {% assign parent =  item.url %}{% endif %}
		{% if item.weight == 1 or 
		   item.url contains navurl or 
		   navurl contains parent %}
		<li class="sub-nav-item {% if item.url == navurl %} selected {% endif %}">
			<a class="sub-nav-link" href="{{ item.url }}">
					{{ item.text }}
			</a>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>